Source: nitrogen
Section: x11
Priority: extra
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends: debhelper (>= 10), libgtkmm-2.4-dev, libxinerama-dev
Standards-Version: 3.9.8
Homepage: http://projects.l3ib.org/nitrogen/
Vcs-Browser: https://github.com/mati75/nitrogen.git
Vcs-Git: https://github.com/mati75/nitrogen.git

Package: nitrogen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: wallpaper browser and changing utility for X
 nitrogen is a graphical wallpaper utility that can be used in two
 modes, browser and recall.
 Some of the things to look for in nitrogen are:
 .
  * Multihead and Xinerama support (setting
    different wallpapers for each monitor)
  * Recall mode to restore wallpapers via startup script
  * Uses freedesktop.org standard for thumbnails
  * Can set GNOME background
  * Command line set modes for script usage
  * Inotify monitoring of browsed directories
